# Исключаем временные файлы
*.log
*.tmp

# Исключаем зависимости
venv/
__pycache__/

# Исключаем чувствительные данные
.env
config.py

# Исключаем большие файлы
*.tar
*.zip

# Другие файлы
.dockerignore
data/
docker
